<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="casadocodigo">
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
                
        <property name="context-root" value="casadocodigo"/>
                
        <property name="java-output-path" value="/casadocodigo/target/classes"/>
            
    </wb-module>
    
</project-modules>
